.slick-prev:before,
.slick-next:before {
  color: black; /* Change to desired color */
}

.slick-prev {
  left: -25px; /* Adjust position if needed */
  z-index: 2; /* Ensure the arrow is above other content */
}

.slick-next {
  right: -25px; /* Adjust position if needed */
  z-index: 2; /* Ensure the arrow is above other content */
}
